/* CSS RESET  */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Custom Properties  */
:root {
  --main-color: #1a1a1a;
  --accent-color: #fe6900;
  --light-color: #FFF;
  --main-font: "Roboto", sans-serif;
}

/* Main Styling  */
body {
  font-family: var(--main-font)
}

main {
  padding:5% 0;
}

/* Utility  */
img {
  max-width: 100%;
}

.container {
  margin:0 auto;
  max-width: 900px;
}

.d_flex {
  display:flex;
}

.rel {
  position:relative;
}

.absol {
  position:absolute;
}

.secondary_pic {
  opacity:0;
  transition: opacity 0.3s ease; /* Aggiungi una transizione */
}

header {
  position:fixed;
  width:100%;
  background-color: var(--accent-color);
}

footer {
  padding:30px 0;
  background-color: var(--main-color);
  color:white;
}

/* Debug Style  */
.debug:hover {
  background-color: rgba(153, 205, 50, 0.4);
}




/* Element Styling  */
.product-grid {
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start;
  gap:10px;
}

.product-grid .card {
  cursor: pointer;
  width: calc(33.333% - 10px);
  margin-bottom:20px;
  flex-direction: column;
  justify-content: space-between;
}

.prod_gallery {
  width:100%;
  aspect-ratio: 2/2.9;
}

.prod_gallery:hover .secondary_pic {
  opacity:1;
}

.wishlist-button {
  background-color: var(--light-color);
  height:10%;
  width:15%;
  z-index:999;
  top:10px;
  right:0;
}

.discount {
  background-color: red;
  color:white;
  text-align: center;
  font-size:.8rem;
  vertical-align: center;
  height:5%;
  width:15%;
  z-index:999;
  bottom:20px;
  left:0;
}

.discount span {
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.keyword {
  background-color: green;
  color:white;
  text-align: center;
  font-size:.8rem;
  vertical-align: center;
  height:5%;
  width:30%;
  z-index:999;
  bottom:20px;
  left:16%;
}

.keyword span {
  font-weight:600;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.wishlist-button:hover .fas {
  color:red;
}

.wishlist-button .fas {
  color:var(--main-color);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.card .prod_info .brand {
  font-size:0.8rem;
}

.card .prod_info .prod_title {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
}

.card .prod_info .prices strong{
  padding-left:3px;
  color:darkgrey;
  text-decoration:line-through;
}

.card .prod_info .prices {
  font-size: .8rem;
  color:var(--accent-color);
  font-weight:bold;
}

footer .container {
  justify-content: space-between;
}

.left-footer > span {
  font-weight:700;
}

.left-footer .quick-links a{
  font-size:.7rem;
  color:white;
  text-decoration: none;
}

.right-footer .social-menu {
  padding-top:5px;
  justify-content: space-between;
  align-items: center;
}

.right-footer .social-menu a {
  color:var(--main-color);
  height:22px;
  width:22px;
  padding:2px 3px;
  margin: 0 3px;
  background-color:var(--light-color);
  border-radius: 5px;
}